<div class="container">
    <h1>Sobre mí</h1>

    <img src="linkedin-icon.png" alt="Foto personal" class="personal-picture">

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio facere dolorum cumque nulla perferendis aut
        est reiciendis, a ex aperiam qui aliquid consequuntur dolor animi obcaecati enim, commodi minima quibusdam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum itaque laboriosam possimus quod, quia eligendi
        labore quos optio qui dolorum. Accusantium neque repudiandae mollitia exercitationem laboriosam commodi
        repellendus, obcaecati quo?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, provident perspiciatis 
        atque similique culpa accusantium voluptatum fugiat pariatur eaque inventore quisquam consequuntur delectus 
        aliquid! Eum illo quasi accusamus nihil quae.
    </p>
    <a href="tu-pagina.html" class="curriculum-link">
    <div class="curriculum-container">
        <span>Curriculum</span>
        <img src="cv-icon.png" alt="Imagen del curriculum">
    </div>
</a>

</div>