<div class="card">
  <h3>Hola, soy Mateo</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam incidunt, facilis veniam pariatur ipsam non facere, mollitia exercitationem nihil adipisci labore! Aperiam vel aut iste impedit harum, incidunt earum dolorem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quod, repudiandae molestiae dolores quas libero adipisci dolore architecto aspernatur accusamus laboriosam soluta accusantium animi alias corrupti, expedita optio quo? Perferendis.</p>
  <div class="links-card">
  <a href="https://www.linkedin.com/in/mateo-martinez-prieto-849297311/">
    <img src="linkedin-icon-white.png" alt="">Linkedin</a>
  <a href="https://github.com/MateoMP02/Portfolio.git">
    <img src="github-icon-white.png" alt="">Github</a>
  <a href="mailto:mateo.mdq123@gmail.com">
           <img src="mail-logo-white.png" alt=""> mateo.mdq123&commat;gmail.com
        </a>
        </div>
</div>
