h1{
    align-items: center;
    text-align: center;
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0fr);
    gap: 30px;

}

section{
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 17px;
    background: linear-gradient(
    to right,
    #070a17 20%,
    #05070f 50%
  );
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.08); 
}

section h1 {
    margin-bottom: 10px; /*espacio entre titulo y lista*/
}

section ul {
    margin-top: 0; 
}

section:hover{
    background-color: #0a122e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul {
    color: white;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Máximo 3 elementos por fila */
    gap: 20px;
    padding: 0 10px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 5px; /* distancia entre logo y palabra */
    margin: 14px; 
    align-items: center;
}

li img {
  width: 50px;
  height: 50px;
  object-fit: contain; 
}


.principal-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto; 
    padding: 20px; 
}


.principal-container h2, .principal-container p {
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho al mismo de .grid-container */
    margin: 0 auto 20px; /* Centra y agrega espacio debajo */
    color: white;
}

h1{
    font-size: 35px; 
    font-family: 'Arial', sans-serif; 
    color: transparent; 
    font-weight: bold; 
}

.front h1{
    background: linear-gradient(to bottom, #25bdf0, #d3f1fc); 
    -webkit-background-clip: text; 
}

.back h1{
    background: linear-gradient(to bottom, #f02525, #fcdbd8); 
    -webkit-background-clip: text; 
}

.learning h1{
    background: linear-gradient(to bottom, #4de033, #c7f0a7); 
    -webkit-background-clip: text; 
}

.tools h1{
    background: linear-gradient(to bottom, #f0a925, #ebdfbf); 
    -webkit-background-clip: text; 
}